<a href="https://colab.research.google.com/github/annisagtr/project-B67/blob/master/DAMC_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Type Constrains

import Pandas library and give it alias 'pd'and read the csv file.

In [3]:
import pandas as pd

In [4]:
sampleweight = pd.read_csv('Users.csv')
sampleweight.head()

   Register Date;Name;Country
0  01/09/2020;Semar;Indonesia
1   23/12/2021;Gareng;Estonia
2   19/02/2022;Petruk;Bahrain
3  10/09/2024;Bagong;Maldives
4                          ;;

It seems like Python does not read our CSV data correctly because our separator in the file is semicolon ";" instead of comma ",". So we can add optional parameter on the **.read_csv** attribute to determine the separator.

In [ ]:
sampleweight = pd.read_csv('Sampleweight.csv', sep = ';')
sampleweight.head()

   Sample ID Weight
0          1  500 g
1          2  650 g
2          3  510 g
3          4  480 g
4          5  558 g

Now look at the table above. The weight contains both numbers and string. We can check the data types by using **.dtypes** attribute.

In [ ]:
sampleweight.dtypes

Sample ID     int64
Weight       object
dtype: object

We can also check the data types as well as the number of missing values per column in a DataFrame, by using **.info()** method.

In [ ]:
sampleweight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sample ID  10 non-null     int64
 1   Weight     10 non-null     object
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

As you can see, the Weight data are stored as object, which Pandas used to store strings. When we want to do math operations on the weight data, we will get the concatened text instead of the total weight.

In [ ]:
sampleweight['Weight'].sum()

'500 g650 g510 g480 g558 g644 g495 g510 g525 g501 g'

To fix this, we should remove the " g" character before converting the data type into integer.
Remember there is also a white space we need to remove. We could use the **.str.strip()** method and specifying the string we'd like to strip as an argument.

In [ ]:
sampleweight['Weight'] = sampleweight['Weight'].str.strip(' g')
sampleweight['Weight'].sum()

'500650510480558644495510525501'

Now that all the Weight data yields only the numbers, we could safely convert them into an integerv by using the **.astype()** method and using the desired type of data as an argument. We could then check again the data type using **.dtypes** method.

In [ ]:
sampleweight['Weight'] = sampleweight['Weight'].astype('int')
sampleweight['Weight'].dtypes

dtype('int64')

Now that the Weight data is already in the desired type, we could use some math :)

In [ ]:
sampleweight['Weight'].sum()

5373

# Handling Missing Data

Import Pandas library and give it alias "pd" and read the csv file.

In [5]:
import pandas as pd

In [6]:
users = pd.read_csv('Users.csv')
users.head()

   Register Date;Name;Country
0  01/09/2020;Semar;Indonesia
1   23/12/2021;Gareng;Estonia
2   19/02/2022;Petruk;Bahrain
3  10/09/2024;Bagong;Maldives
4                          ;;

In [7]:
users = pd.read_csv('Users.csv', sep=";")
users.head()

  Register Date    Name    Country
0    01/09/2020   Semar  Indonesia
1    23/12/2021  Gareng    Estonia
2    19/02/2022  Petruk    Bahrain
3    10/09/2024  Bagong   Maldives
4           NaN     NaN        NaN

We could check the Users data type and how many null values are in the data using the **info()**.

In [8]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Register Date  8 non-null      object
 1   Name           8 non-null      object
 2   Country        7 non-null      object
dtypes: object(3)
memory usage: 344.0+ bytes

Alternatively, you could also :

In [9]:
users.isna().sum()

Register Date    1
Name             1
Country          2
dtype: int64

In [10]:
users[users.isnull().any(axis=1)]

  Register Date    Name Country
4           NaN     NaN     NaN
6    11/04/2020  Shinta     NaN

We can drop the row having empty data by using the **.dropna()**. First, make a copy of your data so that you don't lose the original data. When you want to **drop columns, use axis=1**. Otherwise, use **axis=0 to drop rows**.

In [11]:
dropped_users = users.copy()
dropped_users.dropna(axis=0, inplace=True)
dropped_users

  Register Date       Name    Country
0    01/09/2020      Semar  Indonesia
1    23/12/2021     Gareng    Estonia
2    19/02/2022     Petruk    Bahrain
3    10/09/2024     Bagong   Maldives
5    10/08/2021     Arjuna  Argentina
7    05/11/2021      Anila      Japan
8    08/08/2021  Gatotkaca     Norway

In [12]:
dropped_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 8
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Register Date  7 non-null      object
 1   Name           7 non-null      object
 2   Country        7 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

# Data Range Constrains

Sometimes you already have a data range and your data should not exceed the predetermined range. However, there could be room for errors especially if your data type is string and it's from free-text manual input. Now, let's take a look at our datatypes.

In [13]:
dropped_users.dtypes

Register Date    object
Name             object
Country          object
dtype: object

Since the register date should be a date instead of object (string), we could convert them using the **to_datetime** method, and change them to date by appending **.dt.date** at the end.

In [14]:
import datetime as dt
dropped_users['Register Date'] = pd.to_datetime(users['Register Date']).dt.date
dropped_users.dtypes

Register Date    object
Name             object
Country          object
dtype: object

Now that we have the Register Data as datetime data type we could compare the data with today's date.

In [15]:
dropped_users.head()

  Register Date    Name    Country
0    2020-01-09   Semar  Indonesia
1    2021-12-23  Gareng    Estonia
2    2022-02-19  Petruk    Bahrain
3    2024-10-09  Bagong   Maldives
5    2021-10-08  Arjuna  Argentina

In [16]:
import datetime as dt
today_date = dt.date.today()
dropped_users[dropped_users['Register Date'] > today_date]

  Register Date    Name   Country
3    2024-10-09  Bagong  Maldives

As we see there, there is one user that the register data is out of range because it exceeds today's date. To fix this, you could either drop or modify the data. Whenever possible, confirm the data to the related function. Modifying the data means you could :


*   Setting custom minimum and maximum
*   Treat the data as missing and impute
*   Setting custom value depending on business assumptions

Let's say we would like to hardcode the data using today's date as the upper limit.

In [18]:
dropped_users.loc[dropped_users['Register Date'] > today_date, 'Register Date'] = today_date

In [21]:
dropped_users[dropped_users['Register Date'] > today_date]

Empty DataFrame
Columns: [Register Date, Name, Country]
Index: []

# Removing Duplicates

In [28]:
import pandas as pd
products = pd.read_csv('Products.csv', sep=';', encoding='unicode_escape')
products.head()

,Product ID,Product Name,Product Categories
0,1,Cimory Squeeze Original Yogurt 120ml,Susu & Olahan Susu-Yogurt
1,2,KitKat Green Tea 4F 35gr,Snack-Cokelat
2,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau
3,4,Emina Sun Protection SPF 30 PA+++,Kecantikan-Sunscreen
4,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau

As you can see in the table preview, we have duplicated data for Product ID number 3. When we have bigger datasets, we will not be able to sopt the duplicated data only from the table preview, yet you don't want to waste your time skimming through the data all by yourself. Use the **.duplicated()** to retrieve the data that have duplicates.

In [29]:
products[products.duplicated()]

   Product ID               Product Name          Product Categories
4           3  Bayam Hidroponik 150 gram  Sayur & Buah-Sayuran Hijau

When it comes to duplicated data, you could just drop them away by using **.drop_duplicates()**. By default, this will keep the first duplicated entry and remove the rest.

In [30]:
products_dup = products.drop_duplicates()
products_dup

,Product ID,Product Name,Product Categories
0,1,Cimory Squeeze Original Yogurt 120ml,Susu & Olahan Susu-Yogurt
1,2,KitKat Green Tea 4F 35gr,Snack-Cokelat
2,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau
3,4,Emina Sun Protection SPF 30 PA+++,Kecantikan-Sunscreen

# Splitting Column

Sometimes you have a data in one column that you would like to split into several columns to be able to analyze your data the way it should be done. You could use the **.str.split()** function, and specifying the delimiter in the argument. Now, we would to split the 'Categories' column into Level 1 and Level 2 Categories.

In [37]:
products['Product Categories'].str.split('-', expand=True)

                    0              1
0  Susu & Olahan Susu         Yogurt
1               Snack        Cokelat
2        Sayur & Buah  Sayuran Hijau
3          Kecantikan      Sunscreen
4        Sayur & Buah  Sayuran Hijau

To be able to append the columns into the same table, add new columns into the dataframe.

In [32]:
products[['Category L1','Category L2']] = products['Product Categories'].str.split('-', expand=True)

Last but not least, you could export and save your Pandas Dataframe as a file.

In [41]:
products.to_excel('products_cleaned.xlsx', index=False)
from google.colab import files
files.download('products_cleaned.xlsx')